@charset "utf-8";

*{margin:0; padding:0;}
body,html{margin:0;}
ul li, ol li{list-style:none;}
div,h1,h2,h3,h4,h5,p{margin:0;}
a{text-decoration: none;}
a:visited{color:#333;}

#mainCotent{

    width: 100%;
    height: 100%;
    margin:0 auto;

}

#mainCotent #slider{

    height:400px;
    /* padding-top: 70px; */
    position:relative;
    overflow: hidden;
    background-color:#000;
}

#mainCotent #slider .slider_frame{

}
#mainCotent #slider .slider_frame .slide{

    width:100%;
    height:400px;
    position: relative;

}


#mainCotent #slider .slider_frame .slide .bgImg{

    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;

}


#mainCotent #slider .slider_frame .slide .dark{

    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.25);

}

#mainCotent #slider .wrap{

   position: absolute;
   top:0;
   left:50%;
   transform: translateX(-50%);
   width:1200px;
   height: 100%;
   margin:0 auto;
   display: flex;
   align-items: center;
   padding-left: 200px;

}

#mainCotent #slider .wrap .text_part{

    width:calc(40% - 20px);
    margin: 0 10px;

}

#mainCotent #slider .wrap .text_part h2{

    font-size: 32px;
    color:#fff;
    padding-bottom: 25px;
    word-break: keep-all;

}

#mainCotent #slider .wrap .text_part a{

    display: block;
    width: 140px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 20px;
    color:#fff;
    text-align: center;
    line-height: 40px;
    transition: background-color 0.5s;


}

#mainCotent #slider .wrap .text_part a:hover{

    background-color: rgba(225,225,225,0.25);
};


/*todayMovie*/



#movie{

    padding: 60px 0px 40px;
    background-color:#000;

}

#movie .wrap{

    width:1200px;
    margin: 0 auto;

}

#movie .wrap h2{

    color:#fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding: 30px 0px 0px;
    font-size: 24px;
    text-align: center;

}

#movie .wrap .content{

    display: flex;
    flex-wrap:wrap;
    padding-top: 40px;

}

#movie .wrap .content .box{

    width:calc(100% / 3 - 20px); /*100%의 3분의 1에 마진 20px 띄워써야함!*/
    margin:0px 10px 20px;

}

#movie .wrap .content .box .movie_item{

    height: 200px;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#movie .wrap .content .box .movie_item img{

    display: block;
    height:40px;
    filter: invert(100%);

}

#movie .wrap .content .box h3{

    font-size: 16px;
    color:#eaeaea;
    padding-top: 20px;
    font-weight: normal;

}

/*Banner*/

.banner_middle{

    margin-top:100px;
    height:300px;
    background-image: url(../assets/img/visual7.png);
    background-size: cover;
    background-position: 50% 50%;
    background-color:#000;

}

.banner_middle .wrap{

    width: 100%;
    height:100%;
    padding: 0px 10px;
    margin:0 auto;
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.banner_middle .wrap .txt_part{

    text-align: center;

}


.banner_middle .wrap .txt_part a{

    display: block;
    color:#ddd;
    font-size: 25px;
    margin: 0 auto;
    font-weight: lighter;

}

.banner_middle .wrap .txt_part a:hover{

    color:#fff;

}


/*shoot*/

#shoot{

    padding: 60px 0;
    background-color:#000;

}

#shoot .wrap{

    width: 1200px;
    margin: 0 auto;
}

#shoot .wrap .title{

    padding-bottom: 40px;

}

#shoot .wrap .title h2{

    font-size: 24px;
    color:#fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#shoot .wrap .cont{


    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;

}

#shoot .wrap .cont .box{

    width:calc(100% / 3 - 20px);
    margin:0px 10px 20px;
    /* padding: 0px 10px 20px; */
    height:380px;
    position: relative;
    overflow: hidden;

}

#shoot .wrap .cont .box .shoot_bg{

    width: 100%;
    height:100%;
    background-size: cover;
    background-color: #eee;
    background-position: 50% 50%;
    transition: transform 0.5s;

}

#shoot .wrap .cont .box:hover .shoot_bg{

   transform: scale(1.05);

}


#shoot .wrap .cont .box .txt_part{

    position: absolute;
    width: 100%;
    height: 60px;
    background-color: rgba(0,0,0,0.5);
    bottom:0;
    left:0;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: translateY(100%);
    transition: transform 0.5s;

}

#shoot .wrap .cont .box:hover .txt_part{

     transform: translateY(0%);
    transition: 0.5s;
}

#shoot .wrap .cont .box .txt_part p{

    font-size: 15px;
    color:#fff;

}

#shoot .wrap .cont .box .txt_part a{

    display: block;
    width:150px;
    height:30px;
    font-size: 15px;
    color:#fff;
    text-align: center;
    line-height: 30px;
}

#shoot .wrap .cont .box .txt_part a:hover{

    background-color: rgba(225,225,225,0.3);

}
#shoot .wrap .more_btn { display: flex; justify-content: center;}

#shoot .wrap .more_btn a{

     width: 180px;
     height: 40px;
     line-height: 40px;
     text-align: center;
     margin: 0 auto;
     border-radius: 20px;
     background-color: #555;
     color:#fff;
     transition: background-color 0.5s;


}

#shoot .wrap .more_btn a:hover{

    background-color: #333;
}


/* review */

#review{
    
    height: 480px;
    background-image: url(../assets/img/visual5.png);
    background-position: 50% 50%;
    background-size: cover;

}

#review .dark{

    width: 100%;
    height: 100%;
    padding: 60px 0px;
    background-color: rgba(0,0,0,0.6);

}

#review .dark .wrap{

    width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0px 10px;
    overflow: hidden;

}
#review .dark .wrap .title{ padding-bottom: 20px; }

#review .dark .wrap .title h2{

   font-size: 24px;
   color:#fff;
   font-weight: bold;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: -1px;


}

#review .dark .wrap .slider_cover{

    overflow: hidden;

}

#review .dark .wrap .slider_cover .slider{
    
    width: 300%;
    display: flex;
    flex-wrap:wrap;
    color:#fff;

}


#review .dark .wrap .slider_cover .slider .slide{

   width:calc(100% / 3);
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;

}


#review .dark .wrap .slider_cover .slider .slide p{

    width: calc(100% / 3 * 2);
    margin:0 auto;
    padding-bottom: 20px;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    word-break: keep-all;

}

#review .dark .wrap .slider_cover .slider .slide .img{

    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #eee;
    margin:0 auto;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

}

#review .dark .wrap .slider_cover .slider .slide span{

    display: block;
    padding-top: 20px;
    font-size: 14px;
}

#review .dark .wrap .pager{

    padding-top: 10px;
}

#review .dark .wrap .pager ol{

    display: flex;
    justify-content: center;

}

#review .dark .wrap .pager ol li{

    margin: 0 15px;
    background-color: #a0a0a0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;


}

#review .dark .wrap .pager ol li.active{

    background-color: #fff;
}


